# node_modules
node_modules/
.pnp
.pnp.js

# build
dist/
build/
.next/
out/
.vercel/

# ide
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
.env

# vite
.vite/
